.contact-label {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
  padding: 8px;
  display: flex;
}
.error-message {
  color: red;
}
.submit-btn{
  color: white;
  background-color: black;
  padding: 6px;
  border-radius: 5px;
}
.Add-emplyee-deatils{
  color: black;
  font-size: 25px;
}
