table {
  width: 100%;
}
.create-employee{
    // color: white;
    // background-color: black;
    padding: 10px;
    border-radius: 5px;
background-color: brown;
color: white !important;
}
.input-fliter{
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  width: 30%;
  padding: 8px;
  display: flex;
}